<%- include header %>

<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <% if (user) { %>
      <!--用户信息栏-->
      <div class="user-info span3">
        <div class="avatar">
          <img src="<%= user.head %>" class="img-circle img-polaroid">
        </div>
        <div class="info-box">
          <div class="name-box">
            <a href="/u/<%= user.name %>"><%= user.name %>
            <% if(user.gender == "male") { %>
              <b style="color:rgb(104, 183, 240)">♂</b>
            <% } else { %>
              <b style="color:rgb(250, 129, 175)">♀</b>
            <% } %>
            </a>
          </div>
        </div>
        <ul class="user-detail">
          <li>
            <a href="/u/<%= user.name %>/follow">
              <strong><%= user.follow.length-1 %></strong>
              <span>关注</span>
            </a>
          </li>
          <li>
            <a href="/u/<%= user.name %>/fans">
              <strong><%= user.fans.length %></strong>
              <span>粉丝</span>
            </a>
          </li>
          <li class="info-last">
            <a href="/u/<%= user.name %>">
              <strong><%= user.posts.length %></strong>
              <span>Twibo</span>
            </a>
          </li>
          <div class="clearfix"></div>
        </ul>
        <div class="clearfix"></div>
      </div>
      <% } else { %>
      <div class="guide-info span3">
        <li><a title="登录" href="/login">登录</a></li>
        <li><a title="注册" href="/reg">注册</a></li>
      </div>
      <% } %>
      <!--微博栏-->
      <ul class="span6 all-twibo">
        <li class="new-post">
        <% if (user) { %>
            <form method="post" action="/post" enctype="multipart/form-data">
            <% if (error) { %>
              <div class="error"><%= error %> </div>
            <% } %>
            <textarea name="post" maxlength="140"></textarea><br />
            <input type="file" name="twiPic" accept="image/jpeg, image/png, image/gif" />
            <button class="btn btn-primary" type="submit" value="发表">发表</button>
          </form>
        <% } else { %>
          <%- include intro %>
        <% } %>
          <div class="clearfix"></div>
        </li>
        <% posts.forEach(function (post, index) { %>
        <li class="twibo">
          <div class="avatar"><img src="<%= post.poster.head %>"></div>
          <p class="info">
            <a href="/u/<%= post.poster.name %>"><%= post.poster.name %></a> | 
            日期：<%= post.formatedDate %>
          </p>
          <p class="twiContent"><%- post.post %></p>
          <% if (post.image == "") { %>

          <% } else { %>
            <img src="<%= post.image %>" class="img-polaroid twiPic">
          <% } %>
          <div class="clearfix"></div>
          <span><a href="/twibo/<%= post._id %>">回复 (<%- post.comment.length %>)</a></span><span>|</span><span><a type="submit" class="retwibtn" data-retwi="<%= post._id %>">转发</a></span>
          <div class="clearfix"></div>
        </li>
        <% }) %>
      </ul>
      <!--话题栏-->
<!--       <ul class="span3 hashtag">
        <li><a href="">#Duang~</a></li>
        <li><a href="">#Hashtag</a></li>
        <li><a href="">#Duang~Duang~</a></li>
        <li><a href="">#Tag</a></li>
      </ul> -->
    </div>
  </div>
</div>

<%- include footer %>