<%- include header %>
<div class="container">
  <!--用户信息栏-->
  <div class="user-info span3">
    <div class="avatar">
      <img src="<%= puser.head %>" class="img-circle">
    </div>
    <div class="info-box">
      <div class="name-box">
        <a href="/u/<%= puser.name %>"><%= puser.name %></a>
      </div>
    </div>
    <ul class="user-detail">
      <li>
        <a href="/u/<%= puser.name %>/follow">
          <strong><%= puser.follow.length-1 %></strong>
          <span>关注</span>
        </a>
      </li>
      <li>
        <a href="/u/<%= puser.name %>/fans">
          <strong><%= puser.fans.length %></strong>
          <span>粉丝</span>
        </a>
      </li>
      <li>
        <a href="/u/<%= puser.name %>">
          <strong><%= posts.length %></strong>
          <span>Twibo</span>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  <% if (puser.name !== user.name) { %>
    <button type="submit" class="btn" id="fobtn" data-follow="<%= puser.name %>">关注</button>
  <% } %>
  </div>